h1 {
    text-align: center; font-size: 1000%;
    letter-spacing: 10px;
    color: white;
}

.szellos {
    letter-spacing: 3px;
}
p {
    text-align: center;
    font-size: 600%;
    color: white;
}
.img {

font-size: 5%;    
}
body {
background-image: url("kepek/vegleges.jpg");
}

.motto {
    color: white;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace
} 


.hivatkozas {
    text-align: center;
color: white;
font-size: 60px;
text-decoration: none;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #403A3A 
    ;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: red
    ;
  }
  
  .active {
    background-color: #403A3A 
    ;}

    li a {
        font-size: 25px;
    }
    li:last-child {
        border-right: none;
      }

.kep1 {
    border: 1px solid black;
box-shadow: 10px 10px 10px 10px;
width: 500px;
margin-left: 100px;
transition: width 2s;
}    
.kep2 {
    border: 1px solid black;
box-shadow: 10px 10px 10px 10px;
width: 500px;
margin-left: 280px;
transition: width 2s;
}
.kep3 {
    border: 1px solid black;
box-shadow: 10px 10px 10px 10px;
width: 500px;
margin-left: 100px;
transition: width 2s;
}
.kep4 {
    border: 1px solid black;
box-shadow: 10px 10px 10px 10px;
width: 500px;
margin-left: 280px;
margin-top: 80px;
transition: width 2s;
}
.kep5 {
    border: 1px solid black;
box-shadow: 10px 10px 10px 10px;
width: 500px;
margin-top: 80px;
margin-left: 500px;
transition: width 2s;
}

.liv {
    font-size: 100px;
    color: white;
    text-align: center;
}
img:hover {
    width: 600px
}

img {
    transition: width 1s;
}

