h1 {
    text-align: center; font-size: 1000%;
    letter-spacing: 10px;
    color: white;
}
p {
    text-align: center;
    font-size: 600%;
}
.szellos {
    letter-spacing: 3px;
}
.img {

font-size: 5%;    
}
body {
background-image: url("kepek/hatter4.jpg");
}

.motto {
    color: white;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace
}