body {
    background-image: url("kepek/vegleges.jpg");
}

h1 {
    text-align: center;
    color: white;
    font-size: 600%;
}


a {
font-size: 30px;
color: white;
text-align: center;
}


.img {
    width: 600px;
    border: 1px solid red;
    margin-left: 450px;

}

.vissza {
    font-size: 30px;
color: white;  
text-decoration: none;
}
h2 {
    color: white;
    font-size: 300%;
text-align: left;
}
div {
    font-size: 30px;
    text-decoration: none;
}
table, td,  tr{
    border: 4px solid white;
    border-collapse: collapse;
    padding: 0.5cm;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: red;
}

table {
    width: 100%;
}
.mez1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    border: 0 solid red;
    margin-left: 400px;
}

.mez2 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    border: 0 solid red;
    margin-left: 900px;
    
}

.mezz {

font-size: 30px;
color: white;
text-align: center;
font-weight: bold;
}
.kep1 {
    width: 500px;
    border: 0 solid red;
    margin-left: 250px;
}
.kep {
    width: 500px;
    border: 0 solid red
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #403A3A 
    ;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: red
    ;
  }
  
  .active {
    background-color: #403A3A 
    ;}

    li a {
        font-size: 25px;
    }
    li:last-child {
        border-right: none;
      }

.plus {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.kozep {
    color: white;
    font-size: 30px;
    text-align: center;
}

.sima {
    color: white;
    font-size: 20px;
    text-align: center;
}

.klopppic {
    width: 500px;
    float: right;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px;
    margin-right: 25px;
}

img:hover {
    width: 600px
}

img {
    transition: width 1s;
}

